body, html{
    width: 100%;
    margin: 0;
    background-color: lightgray;
}

.header{
    flex: 1;
    display: flex;
    background-color: darkolivegreen;
    flex-direction:row;
    align-items: center;
    margin:0;
}

.header span{
    margin-left: auto;
    align-self: center;
}

.header h1{
    align-self: center;
}

.navigation{
    font-size: 20px;
    flex: .13;
    flex-direction: column;
    background-color:rgb(165, 165, 165);
    width: 150px;
    height: 75vh;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top:5;
}

.navlist{
    list-style: none;
    padding: 0;
    margin: 2;
}
.navlist li a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 0;
    margin: 2px;
}

.navlist li a:hover{
    animation: rainbow 1.5s infinite;
}

main{
    flex: 0 0 auto;
    position: relative;
    flex-direction: row;
    display: flex;
}

main div{
    flex: 1;
}

@keyframes rainbow{
    0% {color: blue;}
    16% {color: indigo;}
    32% {color: violet;}
    48% {color: red;}
    66% {color: orange;}
    83% {color: yellow;}
    100% {color: green;}
}