.survey{
    display: flex;
    flex-direction: column;
    border: 2px black;
    width: 70vw;
}

.survey h2{
    display:flex;
    border-bottom: 2px solid black;
}

#checkboxes {
    margin-bottom: 10px;
}
#checkboxes ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
#checkboxes label {
    padding: 0;
}

#newItem {
    margin-bottom: 5px;
}

.survey input[type="text"]:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 5px blue;
}

.survey input[type="checkbox"]:hover{
    box-shadow: 0 0 5px blue;
}

.survey h4{
    border-bottom: 1px solid darkolivegreen;
}

.survey input[type="range"]{
    background-color: darkolivegreen;
    width: 150px;
    accent-color: darkolivegreen;
}

.chat-output {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.chat-output p {
    margin: 5px 0;
}


